/* _content/TesBlazor1/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-193xonvjrp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-193xonvjrp] {
    flex: 1;
    border: none;
    box-shadow: none;
    overflow: hidden;
    display: block;
}

.sidebar[b-193xonvjrp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-193xonvjrp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-193xonvjrp]  a, .top-row[b-193xonvjrp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-193xonvjrp]  a:hover, .top-row[b-193xonvjrp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-193xonvjrp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-193xonvjrp] {
        justify-content: space-between;
    }

    .top-row[b-193xonvjrp]  a, .top-row[b-193xonvjrp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-193xonvjrp] {
        flex-direction: row;
    }

    .sidebar[b-193xonvjrp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-193xonvjrp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-193xonvjrp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-193xonvjrp], article[b-193xonvjrp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.top-row[b-193xonvjrp] {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 1rem; /* Adjusts the space between "Points" and the profile picture */
}

.points-box[b-193xonvjrp] {
    background-color: #3075BB;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.profile-picture[b-193xonvjrp] {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ccc; /* Dummy color */
    border-radius: 50%;
    background-image: url('path_to_dummy_profile_picture.jpg'); /* ganti sama fotonya */
    background-size: cover;
    background-position: center;
    text-indent: -9999px; /* Hide text */
}



#blazor-error-ui[b-193xonvjrp] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-193xonvjrp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/TesBlazor1/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wqbxipuvb9] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}



.navbar-toggler:checked[b-wqbxipuvb9] {
    background-color: rgba(225, 246, 183, 0.5);
}

.top-row[b-wqbxipuvb9] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0);
}

.navbar-brand[b-wqbxipuvb9] {
    font-size: 1.1rem;
}

.bi[b-wqbxipuvb9] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house[b-wqbxipuvb9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-house' viewBox='0 0 16 16'%3E%3Cpath d='M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z'/%3E%3C/svg%3E");
}

.bi-people[b-wqbxipuvb9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-people' viewBox='0 0 16 16'%3E%3Cpath d='M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4'/%3E%3C/svg%3E");
}

.bi-clipboard2-check[b-wqbxipuvb9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-clipboard2-check' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z'/%3E%3Cpath d='M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z'/%3E%3Cpath d='M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z'/%3E%3C/svg%3E");
}

.bi-houses[b-wqbxipuvb9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-houses' viewBox='0 0 16 16'%3E%3Cpath d='M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207z'/%3E%3C/svg%3E");
}

.bi-tag[b-wqbxipuvb9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-tag' viewBox='0 0 16 16'%3E%3Cpath d='M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0'/%3E%3Cpath d='M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z'/%3E%3C/svg%3E");
}

.bi-box-arrow-right[b-wqbxipuvb9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-box-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z'/%3E%3Cpath fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z'/%3E%3C/svg%3E");
}





.nav-item[b-wqbxipuvb9] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wqbxipuvb9] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-wqbxipuvb9] {
        padding-bottom: 1rem;
    }

    .nav-item[b-wqbxipuvb9]  .nav-link {
        color: #000000;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-wqbxipuvb9]  a.active {
    background-color: rgb(166, 208, 81);
    color: black;
}

    .nav-item[b-wqbxipuvb9]  .nav-link:hover {
        background-color: rgb(228, 255, 174);
        color: black;
    }

.nav-scrollable[b-wqbxipuvb9] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-wqbxipuvb9] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-wqbxipuvb9] {
        display: none;
    }

    .nav-scrollable[b-wqbxipuvb9] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/TesBlazor1/Components/Pages/HC/Data Pegawai/DataPegawai.razor.rz.scp.css */
body[b-f2lvs43j5a] {
}

.bi-pencil-square[b-f2lvs43j5a] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-square' viewBox='0 0 16 16'%3E%3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z'/%3E%3C/svg%3E");
}

.bi-clock-history[b-f2lvs43j5a] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-clock-history'%20viewBox='0%200%2016%2016'%3E%3Cpath%20d='M8.515%201.019A7%207%200%200%200%208%201V0a8%208%200%200%201%20.589.022zm2.004.45a7%207%200%200%200-.985-.299l.219-.976q.576.129%201.126.342zm1.37.71a7%207%200%200%200-.439-.27l.493-.87a8%208%200%200%201%20.979.654l-.615.789a7%207%200%200%200-.418-.302zm1.834%201.79a7%207%200%200%200-.653-.796l.724-.69q.406.429.747.91zm.744%201.352a7%207%200%200%200-.214-.468l.893-.45a8%208%200%200%201%20.45%201.088l-.95.313a7%207%200%200%200-.179-.483m.53%202.507a7%207%200%200%200-.1-1.025l.985-.17q.1.58.116%201.17zm-.131%201.538q.05-.254.081-.51l.993.123a8%208%200%200%201-.23%201.155l-.964-.267q.069-.247.12-.501m-.952%202.379q.276-.436.486-.908l.914.405q-.24.54-.555%201.038zm-.964%201.205q.183-.183.35-.378l.758.653a8%208%200%200%201-.401.432z'/%3E%3Cpath%20d='M8%201a7%207%200%201%200%204.95%2011.95l.707.707A8.001%208.001%200%201%201%208%200z'/%3E%3Cpath%20d='M7.5%203a.5.5%200%200%201%20.5.5v5.21l3.248%201.856a.5.5%200%200%201-.496.868l-3.5-2A.5.5%200%200%201%207%209V3.5a.5.5%200%200%201%20.5-.5'/%3E%3C/svg%3E");
}



.bi-pencil-square[b-f2lvs43j5a] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}

.btn-icon[b-f2lvs43j5a] {
    width: 1rem;
    height: 1rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.underline-text[b-f2lvs43j5a] {
    text-decoration: underline;
}
.table-hijau[b-f2lvs43j5a] {
    background-color: #EDFFC3; /* Ganti warna latar belakang */
}
/* _content/TesBlazor1/Components/Pages/HC/Data RDP/DataRDPhc.razor.rz.scp.css */
.bi-eye[b-jf02fixk1p] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-eye'%20viewBox='0%200%2016%2016'%3E%3Cpath%20d='M16%208s-3-5.5-8-5.5S0%208%200%208s3%205.5%208%205.5S16%208%2016%208M1.173%208a13%2013%200%200%201%201.66-2.043C4.12%204.668%205.88%203.5%208%203.5s3.879%201.168%205.168%202.457A13%2013%200%200%201%2014.828%208q-.086.13-.195.288c-.335.48-.83%201.12-1.465%201.755C11.879%2011.332%2010.119%2012.5%208%2012.5s-3.879-1.168-5.168-2.457A13%2013%200%200%201%201.172%208z'/%3E%3Cpath%20d='M8%205.5a2.5%202.5%200%201%200%200%205%202.5%202.5%200%200%200%200-5M4.5%208a3.5%203.5%200%201%201%207%200%203.5%203.5%200%200%201-7%200'/%3E%3C/svg%3E");
    width: 20px; /* Tentukan lebar ikon */
    height: 20px; /* Tentukan tinggi ikon */
    background-size: contain; /* Menyesuaikan ukuran ikon */
    display: inline-block; /* Mengubah elemen menjadi block untuk mendukung ukuran */
    vertical-align: middle; /* Penempatan ikon dan teks sejajar secara vertikal */
    border: none;
}

.bi-clock-history[b-jf02fixk1p] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-clock-history'%20viewBox='0%200%2016%2016'%3E%3Cpath%20d='M8.515%201.019A7%207%200%200%200%208%201V0a8%208%200%200%201%20.589.022zm2.004.45a7%207%200%200%200-.985-.299l.219-.976q.576.129%201.126.342zm1.37.71a7%207%200%200%200-.439-.27l.493-.87a8%208%200%200%201%20.979.654l-.615.789a7%207%200%200%200-.418-.302zm1.834%201.79a7%207%200%200%200-.653-.796l.724-.69q.406.429.747.91zm.744%201.352a7%207%200%200%200-.214-.468l.893-.45a8%208%200%200%201%20.45%201.088l-.95.313a7%207%200%200%200-.179-.483m.53%202.507a7%207%200%200%200-.1-1.025l.985-.17q.1.58.116%201.17zm-.131%201.538q.05-.254.081-.51l.993.123a8%208%200%200%201-.23%201.155l-.964-.267q.069-.247.12-.501m-.952%202.379q.276-.436.486-.908l.914.405q-.24.54-.555%201.038zm-.964%201.205q.183-.183.35-.378l.758.653a8%208%200%200%201-.401.432z'/%3E%3Cpath%20d='M8%201a7%207%200%201%200%204.95%2011.95l.707.707A8.001%208.001%200%201%201%208%200z'/%3E%3Cpath%20d='M7.5%203a.5.5%200%200%201%20.5.5v5.21l3.248%201.856a.5.5%200%200%201-.496.868l-3.5-2A.5.5%200%200%201%207%209V3.5a.5.5%200%200%201%20.5-.5'/%3E%3C/svg%3E");
    width: 20px; /* Tentukan lebar ikon */
    height: 20px; /* Tentukan tinggi ikon */
    background-size: contain; /* Menyesuaikan ukuran ikon */
    display: inline-block; /* Mengubah elemen menjadi block untuk mendukung ukuran */
    vertical-align: middle; /* Penempatan ikon dan teks sejajar secara vertikal */
    border: none;
}

.bi-pencil-square[b-jf02fixk1p] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-square' viewBox='0 0 16 16'%3E%3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z'/%3E%3C/svg%3E");
    width: 20px; /* Tentukan lebar ikon */
    height: 20px; /* Tentukan tinggi ikon */
    background-size: contain; /* Menyesuaikan ukuran ikon */
    display: inline-block; /* Mengubah elemen menjadi block untuk mendukung ukuran */
    vertical-align: middle; /* Penempatan ikon dan teks sejajar secara vertikal */
    border: none;
}
.table-hijau[b-jf02fixk1p] {
    background-color: #EDFFC3; /* Ganti warna latar belakang */
}
.table-merah[b-jf02fixk1p] {
    background-color: #FFE3E4; /* Ganti warna latar belakang */
}
/* _content/TesBlazor1/Components/Pages/HC/Data RDP/DialogTambahRDP.razor.rz.scp.css */
/* _content/TesBlazor1/Components/Pages/HC/Kunci/PenyerahanKunciRDP.razor.rz.scp.css */
body[b-uzcwv31u6d] {
}

.bi-download[b-uzcwv31u6d] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-download' viewBox='0 0 16 16'%3E%3Cpath d='M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5'/%3E%3Cpath d='M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z'/%3E%3C/svg%3E");
    width: 20px; /* Set the width of the icon */
    height: 20px; /* Set the height of the icon */
    background-size: contain; /* Scale the icon to fit */
    display: inline-block; /* Ensure the icon is rendered as a block */
    vertical-align: middle; /* Align icon and text vertically */
    border: none; /* Remove border */
}

.bi-check2[b-uzcwv31u6d] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check2' viewBox='0 0 16 16'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0'/%3E%3C/svg%3E");
    width: 20px; /* Set the width of the icon */
    height: 20px; /* Set the height of the icon */
    background-size: contain; /* Scale the icon to fit */
    display: inline-block; /* Ensure the icon is rendered as a block */
    vertical-align: middle; /* Align icon and text vertically */
    border: none; /* Remove border */
}


/* _content/TesBlazor1/Components/Pages/HC/Laporan Pemilik RDP/DialogPemilik.razor.rz.scp.css */
/* _content/TesBlazor1/Components/Pages/HC/Laporan Pemilik RDP/LaporanPemilikRDP.razor.rz.scp.css */
body[b-bk9evmpi9b] {
}

.bi-filetype-jpg[b-bk9evmpi9b] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-filetype-jpg'%20viewBox='0%200%2016%2016'%3E%3Cpath%20fill-rule='evenodd'%20d='M14%204.5V14a2%202%200%2001-2%202h-1v-1h1a1%201%200%20001-1V4.5h-2A1.5%201.5%200%20019.5%203V1H4a1%201%200%2000-1%201v9H2V2a2%202%200%20012-2h5.5zm-4.34%208.132q.114.23.14.492h-.776a.8.8%200%2000-.097-.249.7.7%200%2000-.17-.19.7.7%200%2000-.237-.126%201%201%200%2000-.299-.044q-.428%200-.665.302-.234.301-.234.85v.498q0%20.351.097.615a.9.9%200%2000.304.413.87.87%200%2000.519.146%201%201%200%2000.457-.096.67.67%200%2000.272-.264q.09-.164.091-.363v-.255H8.24v-.59h1.576v.798q0%20.29-.097.55a1.3%201.3%200%2001-.293.458%201.4%201.4%200%2001-.495.313q-.296.111-.697.111a2%202%200%2001-.753-.132%201.45%201.45%200%2001-.533-.377%201.6%201.6%200%2001-.32-.58%202.5%202.5%200%2001-.105-.745v-.506q0-.543.2-.95.201-.406.582-.633.384-.228.926-.228.357%200%20.636.1.28.1.48.275t.314.407ZM0%2014.786q0%20.246.082.465.083.22.243.39.165.17.407.267.246.093.569.093.63%200%20.984-.345.357-.346.358-1.005v-2.725h-.791v2.745q0%20.303-.138.466t-.422.164a.5.5%200%2001-.454-.246.6.6%200%2001-.073-.27H0Zm4.92-2.86H3.322v4h.791v-1.343h.803q.43%200%20.732-.172.305-.177.463-.475.162-.302.161-.677%200-.374-.158-.677a1.2%201.2%200%2000-.46-.477q-.3-.18-.732-.179Zm.546%201.333a.8.8%200%2001-.085.381.57.57%200%2001-.238.24.8.8%200%2001-.375.082H4.11v-1.406h.66q.327%200%20.512.182.185.181.185.521Z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}

.bi-pencil-square[b-bk9evmpi9b] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-pencil-square'%20viewBox='0%200%2016%2016'%3E%3Cpath%20d='M15.502%201.94a.5.5%200%200%201%200%20.706L14.459%203.69l-2-2L13.502.646a.5.5%200%200%201%20.707%200l1.293%201.293zm-1.75%202.456l-2-2L4.939%209.21a.5.5%200%200%200-.121.196l-.805%202.414a.25.25%200%200%200%20.316.316l2.414-.805a.5.5%200%200%200%20.196-.12l6.813-6.814z'/%3E%3Cpath%20fill-rule='evenodd'%20d='M1%2013.5A1.5%201.5%200%200%200%202.5%2015h11a1.5%201.5%200%200%200%201.5-1.5v-6a.5.5%200%200%200-1%200v6a.5.5%200%200%201-.5.5h-11a.5.5%200%200%201-.5-.5v-11a.5.5%200%200%201%20.5-.5H9a.5.5%200%200%200%200-1H2.5A1.5%201.5%200%200%200%201%202.5z'/%3E%3C/svg%3E");
    width: 20px; /* Tentukan lebar ikon */
    height: 20px; /* Tentukan tinggi ikon */
    background-size: contain; /* Menyesuaikan ukuran ikon */
    display: inline-block; /* Mengubah elemen menjadi block untuk mendukung ukuran */
    vertical-align: middle; /* Penempatan ikon dan teks sejajar secara vertikal */
    border: none;
}



/* Menambah lebar minimum kolom bukti */
.table-bukti[b-bk9evmpi9b] {
    min-width: 150px; /* Bisa disesuaikan jika dibutuhkan lebih besar */
    white-space: nowrap; /* Agar teks tidak terpotong atau dibungkus */
}


.file-icon[b-bk9evmpi9b] {
    margin-right: 5px; /* Jarak antara ikon dan nama file */
}

  .file-container[b-bk9evmpi9b] {
        display: inline-flex;
        align-items: center;
        background-color: white;
        padding: 8px 12px;
        border-radius: 12px;
        margin-bottom: 8px;
    }
.table-hijau[b-bk9evmpi9b] {
    background-color: #EDFFC3; /* Ganti warna latar belakang */
}
/* _content/TesBlazor1/Components/Pages/Home.razor.rz.scp.css */
/* _content/TesBlazor1/Components/Pages/Pegawai/Laporan RDP/DialogPemilik-Pegawai.razor.rz.scp.css */
/* _content/TesBlazor1/Components/Pages/Pegawai/Laporan RDP/LaporanPemilikRDP.razor.rz.scp.css */
body[b-rg0sfycfsr] {
}

.bi-filetype-jpg[b-rg0sfycfsr] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-filetype-jpg'%20viewBox='0%200%2016%2016'%3E%3Cpath%20fill-rule='evenodd'%20d='M14%204.5V14a2%202%200%2001-2%202h-1v-1h1a1%201%200%20001-1V4.5h-2A1.5%201.5%200%20019.5%203V1H4a1%201%200%2000-1%201v9H2V2a2%202%200%20012-2h5.5zm-4.34%208.132q.114.23.14.492h-.776a.8.8%200%2000-.097-.249.7.7%200%2000-.17-.19.7.7%200%2000-.237-.126%201%201%200%2000-.299-.044q-.428%200-.665.302-.234.301-.234.85v.498q0%20.351.097.615a.9.9%200%2000.304.413.87.87%200%2000.519.146%201%201%200%2000.457-.096.67.67%200%2000.272-.264q.09-.164.091-.363v-.255H8.24v-.59h1.576v.798q0%20.29-.097.55a1.3%201.3%200%2001-.293.458%201.4%201.4%200%2001-.495.313q-.296.111-.697.111a2%202%200%2001-.753-.132%201.45%201.45%200%2001-.533-.377%201.6%201.6%200%2001-.32-.58%202.5%202.5%200%2001-.105-.745v-.506q0-.543.2-.95.201-.406.582-.633.384-.228.926-.228.357%200%20.636.1.28.1.48.275t.314.407ZM0%2014.786q0%20.246.082.465.083.22.243.39.165.17.407.267.246.093.569.093.63%200%20.984-.345.357-.346.358-1.005v-2.725h-.791v2.745q0%20.303-.138.466t-.422.164a.5.5%200%2001-.454-.246.6.6%200%2001-.073-.27H0Zm4.92-2.86H3.322v4h.791v-1.343h.803q.43%200%20.732-.172.305-.177.463-.475.162-.302.161-.677%200-.374-.158-.677a1.2%201.2%200%2000-.46-.477q-.3-.18-.732-.179Zm.546%201.333a.8.8%200%2001-.085.381.57.57%200%2001-.238.24.8.8%200%2001-.375.082H4.11v-1.406h.66q.327%200%20.512.182.185.181.185.521Z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}

.bi-pencil-square[b-rg0sfycfsr] {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20class='bi%20bi-pencil-square'%20viewBox='0%200%2016%2016'%3E%3Cpath%20d='M15.502%201.94a.5.5%200%200%201%200%20.706L14.459%203.69l-2-2L13.502.646a.5.5%200%200%201%20.707%200l1.293%201.293zm-1.75%202.456l-2-2L4.939%209.21a.5.5%200%200%200-.121.196l-.805%202.414a.25.25%200%200%200%20.316.316l2.414-.805a.5.5%200%200%200%20.196-.12l6.813-6.814z'/%3E%3Cpath%20fill-rule='evenodd'%20d='M1%2013.5A1.5%201.5%200%200%200%202.5%2015h11a1.5%201.5%200%200%200%201.5-1.5v-6a.5.5%200%200%200-1%200v6a.5.5%200%200%201-.5.5h-11a.5.5%200%200%201-.5-.5v-11a.5.5%200%200%201%20.5-.5H9a.5.5%200%200%200%200-1H2.5A1.5%201.5%200%200%200%201%202.5z'/%3E%3C/svg%3E");
    width: 20px; /* Tentukan lebar ikon */
    height: 20px; /* Tentukan tinggi ikon */
    background-size: contain; /* Menyesuaikan ukuran ikon */
    display: inline-block; /* Mengubah elemen menjadi block untuk mendukung ukuran */
    vertical-align: middle; /* Penempatan ikon dan teks sejajar secara vertikal */
    border: none;
}



/* Menambah lebar minimum kolom bukti */
.table-bukti[b-rg0sfycfsr] {
    min-width: 150px; /* Bisa disesuaikan jika dibutuhkan lebih besar */
    white-space: nowrap; /* Agar teks tidak terpotong atau dibungkus */
}


.file-icon[b-rg0sfycfsr] {
    margin-right: 5px; /* Jarak antara ikon dan nama file */
}

  .file-container[b-rg0sfycfsr] {
        display: inline-flex;
        align-items: center;
        background-color: white;
        padding: 8px 12px;
        border-radius: 12px;
        margin-bottom: 8px;
    }
.table-hijau[b-rg0sfycfsr] {
    background-color: #EDFFC3; /* Ganti warna latar belakang */
}
